
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495785447451'); /* IE9*/
  src: url('iconfont.eot?t=1495785447451#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495785447451') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495785447451') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495785447451#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before { content: "\e600"; }

.icon-star1:before { content: "\e632"; }

.icon-loading:before { content: "\e64b"; }

.icon-wdsy:before { content: "\e610"; }

.icon-back:before { content: "\e612"; }

.icon-close:before { content: "\e613"; }

.icon-down:before { content: "\e614"; }

.icon-more:before { content: "\e615"; }

.icon-refresh:before { content: "\e616"; }

.icon-search:before { content: "\e617"; }

.icon-up:before { content: "\e618"; }

.icon-service:before { content: "\e619"; }

.icon-wallet:before { content: "\e61a"; }

.icon-home:before { content: "\e61b"; }

.icon-my:before { content: "\e61c"; }

.icon-discount:before { content: "\e61d"; }

.icon-AG:before { content: "\e61e"; }

.icon-BBIN:before { content: "\e61f"; }

.icon-BY:before { content: "\e620"; }

.icon-KG:before { content: "\e621"; }

.icon-MG:before { content: "\e622"; }

.icon-PP:before { content: "\e623"; }

.icon-PT:before { content: "\e624"; }

.icon-sport:before { content: "\e625"; }

.icon-add:before { content: "\e626"; }

.icon-rmb:before { content: "\e627"; }

.icon-receive:before { content: "\e628"; }

.icon-voice:before { content: "\e629"; }

.icon-refreshMoney:before { content: "\e62a"; }

.icon-kefu:before { content: "\e601"; }

.icon-wode:before { content: "\e602"; }

.icon-shouye:before { content: "\e603"; }

.icon-lipin:before { content: "\e604"; }

.icon-youhui:before { content: "\e607"; }

.icon-shouyexianxing:before { content: "\e608"; }

.icon-wodexianxing:before { content: "\e609"; }

.icon-kefuxianxing:before { content: "\e60a"; }

.icon-zhuanzhang:before { content: "\e60b"; }

.icon-qianbao:before { content: "\e60c"; }

.icon-shouyexianxing1:before { content: "\e60d"; }

.icon-kefuxianxing1:before { content: "\e60e"; }

.icon-wodexianxing1:before { content: "\e60f"; }

.icon-wode1:before { content: "\e611"; }

.icon-youhui1:before { content: "\e62b"; }

.icon-qianbao1:before { content: "\e62c"; }

.icon-lipin1:before { content: "\e62d"; }

.icon-kefu1:before { content: "\e62e"; }

.icon-shouye1:before { content: "\e62f"; }

.icon-zhuanzhang1:before { content: "\e630"; }

.icon-tishi:before { content: "\e631"; }

.icon-pinpailicheng:before { content: "\e633"; }

