.left {
	float: left;
}

.right {
	float: right;
}

.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0;
}

html {
    font-size: 100px;
}

body {
	font-family: "My Font", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	margin: 0;
	padding: 0;
    font-size: 12px;
}

div,
article,
aside,
body,
footer,
header,
hgroup,
nav,
section,
ul,
p,
li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    position: absolute;
    top: .46rem;
    bottom: .5rem;
    width: 100%;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 16, 30, .85);

    .v-spinner {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
    }

    svg {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
    }

    .spinner {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
    }
}
        
$blue1   :   #232457;